.zoom{
    position: absolute;
    bottom: 15%;
    right: 4%;
    display: flex;
    flex-direction: column; 
    & button {
        align-items: center;
        background-color: rgb(224, 224, 224);
        border-bottom-color: rgba(0, 0, 0, 0.87);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgba(0, 0, 0, 0.87);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgba(0, 0, 0, 0.87);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgba(0, 0, 0, 0.87);
        border-top-style: none;
        border-top-width: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        display: flex;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: normal;
        line-height: normal;
        margin-left: 8px;
        margin-right: 8px;
        min-height: 36px;
        min-width: 0px;
        outline-color: rgba(0, 0, 0, 0.87);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        text-align: center;
        text-decoration-color: rgba(0, 0, 0, 0.87);
        text-decoration-line: none;
        text-decoration-style: solid;
        text-indent: 0px;
        text-rendering: auto;
        text-shadow: none;
        text-transform: uppercase;
        transition-delay: 0s, 0s, 0s;
        transition-duration: 0.25s, 0.25s, 0.25s;
        transition-property: background-color, box-shadow, border;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
        user-select: none;
        vertical-align: middle;
        width: 48px;
        word-spacing: 0px;
        writing-mode: horizontal-tb;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-border-image: none;
    }
}